<h1>コースごとの掲示板を覗けます</h1>

<div>
  <% @every_course.zip(@golfcoursename) do |id,name| %>
    <span><%= link_to name.golfcoursename, messages_index_course_path(golfcourse_id: id) %> </span><br>
  <% end %>
</div>

