<h1>コースごとの掲示板を覗けます</h1>

<h2>全てのメッセージ</h2>
<div>
<% @messages.each do |m| %>
  <span><%= m.content %> </span>
  <span>@<%= m.course %> </span><br>
  <% end %>
  </div>


  <h2>コース毎のメッセージ</h2>
<div>
<% @every_course.each do |c| %>
  <span><%= link_to c, root_path %> </span><br>
  <% end %>
</div>