<div class="likeUser-block">
  <h2>いいねしたユーザー</h2>
  <ul class="likeUser__ul">
    <% if @message.liked_users == [] %>
      <p>いいねしたユーザーはいません。</p>
    <% else %>
      <% @message.liked_users.each do |user| %>
        <li class="likeUser__list">
          <% if user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
            <%= image_tag asset_path(user.avatar.url), class: "avatar-img"%>
          <% else %>
            <%= image_tag asset_path("ball.svg"), class: "avatar-img" %>
          <% end %>
          <span class="likeUser__list__span"><%= link_to user.name, user_path(id: user.id), class: "likeUser__list__name" %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
