<h2><%= params[:hole_number] %>Hのスコアを入力</h2>
<%= @score.send("hole#{params[:hole_number]}_score") %>

<%= render "form" %>

<button onclick="eagle();" >Eagle</button>
<button id="Birdie">Birdie</button>
<button id="Par">Par</button>
<button id="Boggy">Boggy</button>
<button id="Double-Boggy">Double-Boggy</button>
<button id="Triple-Boggy">Triple-Boggy</button><br>

<p><%= link_to "スコアカードを見る", score_path(id: @score.id) ,hole_number: params[:hole_number] %></p>
