<div class="play-edit">
  <h2><%= params[:hole_number] %>Hのスコアを入力</h2>
  <%#= @score.send("hole#{params[:hole_number]}_score") %>

  <div class="play-edit__buttonGroup">
    <button id="eagle" class="play-edit__scoreButton score_under">Eagle!!</button>
    <button id="birdie" class="play-edit__scoreButton score_under">Birdie!</button>
    <button id="par" class="play-edit__scoreButton score_under">Par</button>
    </div>
    <%= render "form" %>
  <div class="play-edit__buttonGroup">
    <button id="boggy" class="play-edit__scoreButton score_over">Boggy</button>
    <button id="double_boggy" class="play-edit__scoreButton score_over">Double<br>Boggy</button>
    <button id="triple_boggy" class="play-edit__scoreButton score_over">Triple<br>Boggy</button>
  </div>
  <p class="play-edit__showScorecard"><i class="fas fa-golf-ball"></i><%= link_to "スコアカード、リーダーボードを見る", score_path(id: @score.id, golfcourse_id: params[:golfcourse_id]) ,hole_number: params[:hole_number], golfcourse_id: params[:golfcourse_id] %></p>
</div>
