<h1>ゴルフ場選択</h1>

<p>検索結果</p>
<% if @json.nil? %>
<p>検索結果がここに表示されます</p>
<% elsif @json['error'] == "not_found" %>
<p>該当データなし！</p>
<% else %>

    <% @json["Items"].each do|item| %>
        <%= link_to item["Item"]["golfCourseName"], round_start_path(course: item["Item"]["golfCourseName"]), data: { confirm: item["Item"]["golfCourseName"] + 'でラウンドを開始します。よろしいですか？' }  %> <br>
        <%= link_to item["Item"]["golfCourseId"], round_start_path(course: item["Item"]["golfCourseName"]), data: { confirm: item["Item"]["golfCourseName"] + 'でラウンドを開始します。よろしいですか？' }  %> <br>
        <%= link_to item["areaCode"], round_start_path(course: item["Item"]["golfCourseName"]), data: { confirm: item["Item"]["golfCourseName"] + 'でラウンドを開始します。よろしいですか？' }  %> <br>
    <% end %>
<% end %>


<%# <%= link_to item["Item"]["golfCourseName"] , round_start_path(golfCourseName: item["Item"]["golfCourseName"]) %> <br> 
  