	<p>ここからレンダー</p>
	<%= link_to @message.likes.count, {controller: "messages", action: "show", message_id: @message.id}, method: :get %>
	<% if current_user.already_liked?(@message) %>
		<span>❤️</span>
		<%= link_to 'いいねを取り消す', {controller: "likes", action: "destroy", message_id: @message.id, user_id: current_user.id}, method: :delete, remote: true %>
	<% else %>
		<span>♡</span>
		<%= link_to 'いいねする', {controller: "likes", action: "create", message_id: @message.id, user_id: current_user.id}, method: :post, remote: true %>
	<% end %>
	<p>ここまでレンダー</p>



