<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="stats__ff">
    <strong id="following" class="stat">
      <span class="f_number"><%= @user.followings.count %></span>
    </strong>
    フォロー中
  </a><br>
  <a href="<%= followers_user_path(@user) %>" class="stats__ff">
    <strong id="followers" class="stat">
      <span class="f_number"><%= @user.followers.count %></span>
    </strong>
    フォロワー
  </a>
</div>
