<div class="follwingPlayList">
  <%= image_tag('cap-02.svg', class: "newsList__image", id: "test") %>
  <div>
    <% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
      <% puts 'あなたは、サインイン中でゲストプレイヤーでもないです。' %>
      <% if @following_score == [] %>
        <p>直近1週間フォローしているプレイヤーはラウンドしていません。</p>
      <% else %>
        <h4>フォローしているプレイヤーのラウンド情報</h4>
        <table class=" table table-striped">
          <tr>
            <th>プレイ日</th>
            <th>プレイヤー</th>
            <th>コース名</th>
          </tr>
          <% @following_score.each do|user|%>  
            <tr>
              <td><%= user.played_date.strftime('%-m月%d日(%a)') %></td>
              <td><%= link_to user.user.name, user_path(id: user.user.id) %></td>
              <td><%= link_to user.golfcourse.golfcourseabbr, archives_show_path(id: user.id) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
      <% puts 'あなたは、ログイン中でゲストプレイヤーですね。' %>
    <% else %>
      <% puts 'ログアウト中です。' %>
    <% end %>
  </div>
</div>
