<h1>Live Score</h1>
<div class="grid-6">
  <%= link_to "ログイン", new_user_session_path, class: 'post' %>
  <%= link_to "サインアップ", new_user_registration_path, class: 'post' %>
</div>
<%= link_to "ラウンドする",  rounds_select_course_url %>
<%= link_to "過去のスコアを見る", archives_index_path %>