<%= render 'top_menu'%>

<% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
<div class="news-list">
  <%= render 'playing_round'%>
  <%= render 'following_timeline'%>
</div>
<% end %>

<%= session.to_hash %>
