// Place all the styles related to the Golfcourses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.archive-block {
    display: block;
    width: 700px;
    margin: 30px auto;
    .archive-block__avatar {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0;
        margin: 20px auto;
    }
    .archive-block__flex {
        display: flex;
    }
    .archive-block__leftsideBlock {
        width: 75%;
        display: inline-block;
        flex-direction: column;
        display: flex;
        /* justify-content: center; */
        text-align: center;
    }
    .archive-block__rightsideBlock {
        width: 40%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .rightsideBlock__edit {
        border: 1px solid black;
        color: black;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        width: 100%;
        border-radius: 15px;
        white-space: nowrap;
        margin: 30px auto;
    }
    .stats__ff {
        color: #aaaaaa;
    }
    .f_number {
        color: #333333;
        font-size: 20px;
    }
    .archive-block__h2 {
        text-align: center;
    }
    .archive-block__round__table {
        margin: 20px auto;
    }
    .archive-block__round__tr {
        height: 50px;
        border-bottom: black solid 1px;
    }
    .archive-block__noRound {
        text-align: center;
    }
    nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}