// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.topMenu-list {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 50px auto;
}

.topMenu-image__title {
    width: 150px;
}

.headerBlock {
    margin: 0px 30px 70px 30px;
}

.newsList {
    display: flex;
    justify-content: space-around;
}

.unfinishedList,
.follwingPlayList {
    background-color: white;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.newsList__image {
    width: 80px;
}

.authBlock {
    .authBlock__btn {
        width: 50%;
        height: 50px;
        line-height: 37px;
        margin: 20px auto;
        display: block;
    }
}