// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home-block {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.topMenu-list {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.topMenu-image__title {
    width: 150px;
}

.headerBlock {
    margin: 0px 30px 70px 30px;
}

.newsList {
    display: flex;
    justify-content: center;
    .newsList__image {
        margin: 30px;
        width: 85px;
    }
}

.unfinishedList,
.follwingPlayList {
    background-color: white;
    width: 500px;
    height: auto;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

.newsList__image {
    width: 80px;
}

.authBlock {
    .authBlock__btn {
        width: 50%;
        height: 50px;
        line-height: 37px;
        margin: 20px auto;
        display: block;
    }
}