// Place all the styles related to the Mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.message-index-block {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .message-index-block__list {
        height: 60px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        a {
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
    }
}

.score-block {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .card-borad_block {
        display: flex;
        justify-content: center;
    }
    .score-card {
        width: 320px;
        margin: 0 auto;
    }
    .score-card__table {
        width: 320px;
        display: flex;
    }
    .leader-board {
        width: 320px;
        margin: 0 auto;
    }
    .messageForm-block {
        // display: block;
        .messageForm-block__label {
            display: block;
            margin-top: 15px;
            font-size: 20px;
        }
        .messageForm-block__textfield {
            border: none;
            border-radius: 20px;
            height: 110px;
            width: 100%;
            margin-bottom: 10px;
            /* line-height: 20px; */
            font-size: 20px;
        }
        .messageForm-block__submit {
            border-radius: 25px;
            height: 40px;
            width: 300px;
            border: none;
            display: block;
            margin: 15px auto;
            font-size: 20px;
            line-height: 40px;
        }
        .messageForm-block__filefield {
            font-size: 18px;
        }
    }
}

.messageCourse-block {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .messageCourse-message {
        padding: 10px;
        // background-color: aliceblue;
        background-color: rgba(240, 248, 255, 0.7);
        border-radius: 15px;
        // opacity: 0.9;
    }
    .messageCourse-block__img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0;
        margin: 0px 10px 0px 0px;
    }
    .messageCourse-block__date-content {
        font-size: 20px;
        display: block;
        word-break: break-word;
    }
    .messageCourse-block__date-like {
        text-align: right;
        display: block;
    }
    .messageCourse-block__group {
        padding: 10px;
        // background-color: aliceblue;
        background-color: rgba(240, 248, 255, 0.7);
        border-radius: 15px;
        // opacity: 0.9;
    }
}

.likeUser-block {
    display: block;
    width: 700px;
    margin: 0 auto;
    .likeUser__ul {
        margin: 10px auto;
        padding: 0;
    }
    .likeUser__list {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        padding: 10px;
    }
    .likeUser__form {
        display: flex;
        justify-content: space-evenly;
    }
    .likeUser__list__span {
        width: 300px;
        text-align: center;
    }
    .likeUser__list__name {
        height: 50px;
        line-height: 50px;
        width: 300px;
        text-align: center;
    }
}