// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.play-edit {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .play-edit_form {
        width: 150px;
        height: 150px;
        font-size: 100px;
        text-align: center;
        margin: 10px;
    }
    .play-edit__buttonGroup {
        display: flex;
        justify-content: center;
        margin: 0px auto;
        align-items: center;
        height: 160px;
    }
    .play-edit__holeButton {
        height: 150px;
        width: 150px;
        background-color: black;
        text-align: center;
        line-height: 150px;
        color: #ffffff;
        border: none;
    }
    .play-edit__holeButton:hover {
        cursor: pointer;
        font-style: italic;
    }
    .play-edit__airButton {
        height: 150px;
        width: 150px;
    }
    .play-edit__scoreButton {
        width: 150px;
        height: 150px;
        border: none;
        margin: 5px;
    }
    .play-edit__scoreButton:hover {
        cursor: pointer;
        font-style: italic;
    }
    .score_under {
        background-color: blue;
        color: white;
    }
    .score_over {
        background-color: red;
        color: white;
    }
}