// Place all the styles related to the Score controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.score-block {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .card-borad_block {
        display: flex;
        justify-content: center;
    }
    .score-card {
        width: 320px;
        margin: 0 auto;
    }
    .score-card__table {
        width: 320px;
        display: flex;
    }
    .leader-board {
        width: 320px;
        margin: 0 auto;
    }
}

.score-block__message {
    .score-block__img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0;
        margin: 0px 10px 0px 0px;
    }
    .score-block__date-content {
        font-size: 20px;
        display: block;
        word-break: break-word;
    }
    .score-block__date-like {
        text-align: right;
        display: block;
    }
    .score-block__group {
        padding: 10px;
        // background-color: aliceblue;
        background-color: rgba(240, 248, 255, 0.7);
        border-radius: 15px;
        // opacity: 0.9;
    }
}

.score-block__returnScoreinput {
    margin-top: 15px;
    background-color: whitesmoke;
    height: 45px;
    line-height: 45px;
    width: 500px;
    text-align: center;
    margin: 15px auto;
    border-radius: 22px;
    a {
        font-size: 20px;
        color: blue;
    }
    i {
        font-size: 20px;
        color: black;
    }
}