// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-Search {
    display: block;
    width: 700px;
    margin: 0 auto;
    .user-Search__ul {
        margin: 10px auto;
        padding: 0;
    }
    .user-Search__list {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        padding: 10px;
    }
    .user-Search__form {
        display: flex;
        justify-content: space-evenly;
    }
    .user-Search__list__span {
        width: 300px;
        text-align: center;
    }
    .user-Search__list__name {
        height: 50px;
        line-height: 50px;
        width: 300px;
        text-align: center;
    }
    nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

.userShow-block {
    background: rgba(255, 255, 255, 0.4);
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    .userShow-block__avatar {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0;
        margin: 20px auto;
    }
    .userShow-block__flex {
        display: flex;
    }
    .userShow-block__leftsideBlock {
        width: 75%;
        display: inline-block;
        flex-direction: column;
        display: flex;
        /* justify-content: center; */
        text-align: center;
    }
    .userShow-block__rightsideBlock {
        width: 40%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .rightsideBlock__edit {
        border: 1px solid black;
        color: black;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        width: 100%;
        border-radius: 15px;
        white-space: nowrap;
        margin: 30px auto;
    }
    .stats__ff {
        color: #aaaaaa;
    }
    .f_number {
        color: #333333;
        font-size: 20px;
    }
    .userShow-block__h2 {
        text-align: center;
    }
    .userShow-block__round__table {
        margin: 20px auto;
    }
    .userShow-block__round__tr {
        height: 50px;
        border-bottom: black solid 1px;
    }
    .userShow-block__noRound {
        text-align: center;
    }
}

.followUser-block {
    display: block;
    width: 700px;
    margin: 0 auto;
    .followUser-block__list {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        padding: 10px;
    }
    .followUser-block__ul {
        margin: 10px auto;
        padding: 0;
    }
    .followUser-block__list__span {
        width: 300px;
        text-align: center;
    }
    .followUser-block__list__name {
        height: 50px;
        line-height: 50px;
        width: 300px;
        text-align: center;
    }
}

.user-devise-block {
    display: block;
    width: 350px;
    margin: 0 auto;
    .user-devise-block__label {
        display: block;
        margin-top: 15px;
        font-size: 20px;
    }
    .user-devise-block__textfield {
        border: none;
        border-radius: 6px;
        height: 40px;
        width: 90%;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .user-devise-block__submit {
        border-radius: 25px;
        height: 40px;
        width: 300px;
        border: none;
        display: block;
        margin: 15px auto;
        font-size: 20px;
        line-height: 40px;
        background-color: darkseagreen;
    }
    .user-davise__link {
        display: block;
        text-align: center;
    }
}

@media(max-width: 700px) {
    .user-Search {
        width: auto;
        .user-Search__ul {
            width: 90%;
        }
        .avatar-img {
            width: 30px;
            height: 30px;
            margin: 10px 10px 0px 0px;
        }
        .pagination {
            font-size: 12px;
        }
        .pagination li a {
            height: 41px;
            width: 35px;
            font-size: 12px;
            text-align: center;
            padding: 0;
            line-height: 20px;
        }
    }
    .userShow-block {
        width: 96%;
        .userShow-block__avatar {
            width: 85px;
            height: 85px;
            padding: 0;
            margin: 0px auto;
        }
        .userShow-block__leftsideBlock,
        .userShow-block__rightsideBlock {
            width: 50%;
        }
        .pagination {
            font-size: 12px;
        }
        .pagination li a {
            height: 41px;
            width: 35px;
            font-size: 12px;
            text-align: center;
            padding: 0;
            line-height: 20px;
        }
    }
}