<header>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8c38a4b35fea74dfaefa2fa1bb73b5fcdb65b5df
  <p class="red text-primary">ここからヘッダー</p>
=======
  <p>ここからヘッダー</p>
>>>>>>> parent of 3e65ddd... js-error
<<<<<<< HEAD
=======
  <p class="red">ここからヘッダー</p>
>>>>>>> parent of 431c7f2... 2-6
=======
>>>>>>> 8c38a4b35fea74dfaefa2fa1bb73b5fcdb65b5df
  <%= link_to "トップにもどる", root_path %>
  <p class="blue">ここまでヘッダー</p>
</header>
