<header>
<<<<<<< HEAD
  <p class="red text-primary">ここからヘッダー</p>
=======
  <p>ここからヘッダー</p>
>>>>>>> parent of 3e65ddd... js-error
  <%= link_to "トップにもどる", root_path %>
  <p class="blue">ここまでヘッダー</p>
</header>
